package components

templ LinkButton(href string){
    @linkButtonStyle()
    <a href={templ.SafeURL(href)} class="link-button">{children...}</a>
}

templ linkButtonStyle() {
    <style>
    .link-button{
        padding: 15px 20px;
        background-color: #00f;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .link-button:hover{
        background-color: #0f0;
        cursor: pointer;
    }
    </style>
    
}