package components

templ SubmitButton(){
    @submitButtonStyle()
    <button type="submit" class="submit-button">{children...}</button>
}

templ submitButtonStyle() {
    <style>
    .submit-button{
        padding: 15px 20px;
        background-color: #00f;
        color: #fff;
        font-size: 14px;
        border-radius: 5px;
        border: none;
    }
    .submit-button:hover{
        background-color: #0f0;
        cursor: pointer;
    }
    </style>
    
}