package components

type HeaderSize int

const (
    H1 HeaderSize  = iota + 1
    H2   
    H3   
    H4   
    H5   
    H6   
)

templ Title(value string, size HeaderSize) {
    switch size{
        case 1: <h1>{value}</h1>
        case 2: <h2>{value}</h2>
        case 3: <h3>{value}</h3>
        case 4: <h4>{value}</h4>
        case 5: <h5>{value}</h5>
        case 6: <h6>{value}</h6>
    }
    { children... }
}