:root {
    --color-white: #FFFFFF
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    overflow: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}