package pages

import "samurenkoroma/services/views/layout"

templ Tools() {
    @layout.Layout(layout.LayoutProps{Title: "Инструменты"}){
        <main>
            Инструменты
        </main>
    }
}