package pages

import "samurenkoroma/services/views/layout"

templ WorkLog() {
    @layout.Layout(layout.LayoutProps{Title: "Журнал работ"}){
        <main>
            Журнал работ
        </main>
    }
}